<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>장고개꿀</title>
    </head>
    <body>
        <ul>
            {% for product in products %}
                <a href="{% url 'update_product' product.id %}" class="href">
                    <li>{{ product.description }}</li>
                </a>
            {% endfor %}
        </ul>

        <a href="{% url 'create_products' %}">새로운 제품</a>
    </body>
</html>